.center {
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: red;
}

.heroes {
  /*flex-wrap: wrap;*/
  /*width: auto;*/
  /*display: inline-block;*/
  margin-top: 20px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}
.hero p {
  position: absolute;
  color: rgba(0,148,2,0)
}

.hero:hover,
.hero:hover p
{
  transform: scale(110%);
  color: unset;
  background: aliceblue;
}
